* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
}


.bg-green {
    background-color: #0B9F84;
}

.header-login {
    color: white;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    text-transform: capitalize;
}

.caption-login {

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    letter-spacing: 0.01em;
    text-transform: capitalize;

    color: #FFFFFF;

    margin-top: 20px;
}

.bg-card-register {
    background-color: #E1F3ED;
}